Django==5.2.5

tzdata>=2022.1; platform_system == "Windows"


django-htmx==1.17.2

gunicorn==22.0.0          
whitenoise==6.6.0         
django-htmx==1.17.2

dj-database-url
psycopg2-binary
python-dotenv

