{# templates/includes/claim_table.html #}
<div id="claim-table" class="card" hx-swap="outerHTML">
  <table class="table">
    <thead>
      <tr>
        <th>Claim ID</th>
        <th>Patient</th>
        <th>Payer</th>
        <th>Billed</th>
        <th>Paid</th>
        <th>Status</th>
        <th>Service date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for c in claims %}
      <tr>
        <td>{{ c.claim_id }}</td>
        <td>{{ c.patient_name }}</td>
        <td>{{ c.payer }}</td>
        <td>${{ c.amount }}</td>
        <td>${{ c.paid_amount }}</td>
        <td>{{ c.status }}</td>
        <td>{{ c.service_date }}</td>
        <td>
          <button class="btn"
                  hx-get="{% url 'claim-detail' c.pk %}"
                  hx-target="#claim-table"
                  hx-swap="outerHTML"
                  hx-push-url="true">
            View
          </button>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="8"><em>No results</em></td></tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="pager" id="pager">
  {% if page_obj.has_previous %}
    <a
      hx-get="/?page={{ page_obj.previous_page_number }}&q={{ q }}&status={{ status_sel }}"
      hx-target="#claim-table"
      hx-push-url="true"
      href="?page={{ page_obj.previous_page_number }}&q={{ q }}&status={{ status_sel }}">
      ‹ Prev
    </a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a
      hx-get="/?page={{ page_obj.next_page_number }}&q={{ q }}&status={{ status_sel }}"
      hx-target="#claim-table"
      hx-push-url="true"
      href="?page={{ page_obj.next_page_number }}&q={{ q }}&status={{ status_sel }}">
      Next ›
    </a>
  {% endif %}
</div>

</div>
